body{
    background-color: white;
    margin: 0;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #2E4373;
    display: flex;
    justify-content: space-between;
}

header li{
    display: inline-block;
}

.nav-btn, .nav-btn:visited{
    display: inline-block;
    padding: 1vw 1vw;
    background-color: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    margin-right: 1vw;
    font-size: 1vw;
}

.nav-btn:hover{
    background-color: none;
    color: white;
    font-size: 1.5vw;
    transition: 0.5s;
}

header ul{
    list-style: none;
    display: flex;
    gap: 1vw;
    padding: 0;
}

.Logo{
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 5vw;
    height: 100%;
}

.celda_imagen{
    text-align: center;
    background: #E2E3E6;
    padding: 10px;
    border-radius: 8px;
}

.celda_imagen img{
    width: 30%;
    height: auto;
    border-radius: 4px;
}

.celda_imagen p{
    margin-top: 8px;
    font-family: sans-serif;
    font-weight: bold;
}

.Catalogo{
    display: grid;
    /* Ajusta el numero de columnas automaticamente */
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    /* Separacion entre tarjetas */
    gap: 2rem;
    padding: 20px;
}

.celda_imagen img:hover{
    transform: scale(1.05);
}